@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.text-preset-1 {
  font-family: "Outfit", serif;
  font-size: 22px;
  line-height: var(--line-height-120);
  letter-spacing: var(--letter-spacing-0);
  font-weight: 900;
}

.text-preset-2 {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  line-height: var(--line-height-140);
  letter-spacing: var(--letter-spacing-02);
  font-weight: 900;
}
